{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('chaky_test_app_login_check') }}" method="post">
    
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <input type="hidden" name="_target_path" value="account" />

    <input type="submit" name="login" value="Login"/>

</form>