Hello user

<table>
    <th>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Slug</td>
            <td>Actions</td>
        </tr>
    </th>

    {% for blog in blogs %}

        <tr>
            <td>{{blog.id}}</td>
            <td>{{blog.title}}</td>
            <td>{{blog.slug}}</td>
            <td>
                <a href="{{ path('chaky_test_app_blog_edit', {'id': blog.id}) }}">Edit</a>
                <a href="{{ path('chaky_test_app_blog_delete', {'id': blog.id}) }}">Delete</a>
            </td>
        </tr>

    {% endfor %}

</table>

<form action="{{ path('chaky_test_app_logout') }}" method="POST">
    <input type="submit" value="Logout" />
</form>
